<div class="col-sm-4 col-md-3 col-xs-12">
  <div class="thumbnail">
    <%= image_tag client.foto.url%>
    <div class="caption">
    <p class="text-capitalize Ncliente">  <%= client.nombre %> <%= client.apellido%> </p>
    <p class="Dcliente"> Cédula: <%= client.cedula %></p>
    <button type="button" class="btn btn-info"><%= link_to "Ver perfil", client %></button>
      </div>
    </div>
</div>
