<div class="nuevo">
<%= form_for (@client) do |f| %>
<% @client.errors.full_messages.each do |message| %>
<div class="alert alert-danger">
  <%= message %>
<% end %>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12">
    <%= f.file_field :foto, class: " anchura" %>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12">
    <%= f.text_field :nombre, placeholder: "Nombre", class: "form-control anchura" %>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12">
    <%= f.text_field :apellido, placeholder: "Apellido", class: "form-control anchura" %>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12">
    <%= f.text_field :cedula, placeholder: "Cedula", class: "form-control anchura" %>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12">
    <%= f.email_field :email, placeholder: "Email", class: "form-control anchura" %>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12">
    <%= f.telephone_field :telefono, placeholder: "Telefono", class: "form-control anchura" %>
  </div>
  <div class="col-sm-4 col-md-3 col-xs-4">
    <%= f.label :Fecha_de_nacimiento, class: "label-control margin-top"%>
  </div>
  <div class="col-sm-4 col-md-9 col-xs-8 ">
    <%= f.date_field :nacimiento , class: "form-control anchura"%>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12">
    <%= f.text_field :direccion, placeholder: "Direccion", class: "form-control anchura" %>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12">
    <%= f.submit "Guardar",class: "btn btn-success" %>
  </div>
<% end %>
</div>
