<div class="container-fluid">
  <div class="row">


    <div class="col-sm-6 col-md-3 col-xs-12">
      <div class="thumbnail">
        <%= image_tag @Clients.foto.url %>
        <h1><%= @Clients.nombre %>  <%= @Clients.apellido %> </h1>
        <p> Cedula: <%= @Clients.cedula %></p>
        <p> Email: <%= @Clients.email %></p>
        <p> Telefono: <%= @Clients.telefono %></p>
        <p> Direccion: <%= @Clients.direccion %></p>
        <p> Fecha de nacimiento: <%= @Clients.nacimiento %></p>
        <button type="button" class="btn btn-warning">  <%= link_to "Editar", edit_client_path() %></button>
      </div>
    </div>


    <div class="col-sm-6 col-md-3 col-xs-12">
        <div class="cuadrito">
          <div class="container-fluid">
            <div class="row">
              <%= render "payments/form" %>
            </div>
          </div>
          </div>
    </div>

    <div class="col-sm-12 col-md-6 col-xs-12">
        <div class="cuadrito">
                  <p class="text-center titulo Ncliente">Historial de pagos</p>
                    <div class="center-box padding">
                      <div class="table-responsive">
                        <table class="table  table-hover ">
                          <thead>
                            <tr>
                              <th>Tipo de pago</th>
                              <th>Monto</th>
                              <th>Fecha</th>
                            </tr>
                          </thead>

                          <tbody>
                          <% @Clients.payments.order("fecha_payment DESC").each do |payment| %>
                              <tr>
                                <td><p class="detalles-cliente"><%= payment.payment_type.descripcion_type %></p>
                                </td>
                                <td><p class="detalles-cliente"><%= payment.monto_payment %></p>
                                </td>
                                <td>
                                  <p class="detalles-cliente"> <%=  payment.fecha_payment.strftime("%d-%m-%Y") %></p>
                                </td>
                              </tr>
                              <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
      </div>
    </div>
   </div>
  </div>
