      <p class="nombre-cliente"><%= payment.client.nombre %> <%= payment.client.apellido %></p>
      <p class="detalles-cliente"> Tipo de pago: <%= payment.payment_type.descripcion_type %></p>
      <p class="detalles-cliente"> Monto: <%= payment.monto_payment %> </p>
      <p class="detalles-cliente"> fecha: <%= payment.fecha_payment %></p>
