				<div class="container center-box">
          <h1 class="text-center">Deudores</h1>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Cliente</th>
	                <th>Cédula</th>
									<th>Tipo de pago</th>
									<th>Monto</th>
	                <th>Fecha</th>
	                <th>Deuda</th>
								</tr>
							</thead>

							<tbody>
	              <% @payment.each_with_index  do |payment| %>
	              <% if payment.fecha_payment <= @timenow and payment.client.state == "Activo" %>
	                <tr>
	                  <td><p class="nombre-cliente"><%= link_to payment.client.nombre, payment.client %> <%= link_to payment.client.apellido, payment.client %></p>
	                  </td>
	                  <td><p class="detalles-cliente"><%= payment.client.cedula %></p>
	                  </td>
	                  <td>
	                    <p class="detalles-cliente"> <%= payment.payment_type.descripcion_type %></p>
	                  </td>
	                  <td>
	                    <p class="detalles-cliente"> <%= payment.monto_payment %> </p>
	                  </td>
	                  <td>
	                    <p class="detalles-cliente"> <%= payment.fecha_payment.strftime("%d-%m-%Y") %> </p>
	                  </td>
	                  <td>
	                    <p class="detalles-cliente"> <% deuda = @timenow1.month - payment.fecha_payment.month %> <% if deuda == 1 %>
	                      <%= deuda %> Mes
	                      <% else %>
	                      <%= deuda %> Meses
	                    <% end %></p>
	                  </td>
									</tr>
	                <% end %>
	                <% end %>
							</tbody>
						</table>

					</div>

				</div>
