<!DOCTYPE html>
<html>
  <head>
    <title>Gym</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% if user_signed_in? %>
    <%= render "/parciales/navegacion" %>
    <% end %>
    <div class="container">
      <div class="alert alert-success ", style="<%= "display: none;" if notice.nil? %>">
        <p class="notice"> <%= notice %></p>
      </div>
      <div class="alert alert-danger ", style="<%= "display: none;" if alert.nil? %>">
        <p class="alert"> <%= alert %></p>
      </div>
    </div>
    <%= yield %>

    <footer class="footer ">
      <div class="container text-center position">
          <p class="text-muted"><a href="https://www.instagram.com/carlosluishc/" title="Contactate conmigo"> By Carlos Hernández</a>,todos los derechos reservados </p>
        </div>
    </footer>
  </body>
</html>
